* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
}

.nav::before {
    content: '';
    background-color: rgb(105, 105, 105);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#logo img {
    height: 64px;
}

.nav ul {
    display: flex;
    list-style: none;
    /* margin-left: 10px; */
    font-family: cursive;
}

.nav div ul a {
    font-size: 1.1rem;
    display: block;
    text-decoration: none;
    margin: 0px 8px;
    color: rgb(255, 255, 255);
}

.nav div ul a:hover {
    color: rgb(0, 0, 0);
}

.nav img:hover {
    cursor: pointer;
}

.nav .image {
    display: flex;
    margin-left: 0px;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 250px;
    /* height: 100% font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

#home::before {
    content: "";
    position: absolute;
    background: url('https://media.istockphoto.com/id/1301565375/photo/paleo-diet-healthy-food-background.jpg?b=1&s=170667a&w=0&k=20&c=JyZorfsSyyL3bANRR2HrY4CUMFH8avqs3lvm0YlU8bU=')no-repeat center center/cover;
    height: 780px;
    /* top: 0px; */
    /* left: 0px; */
    /* width: 100%; */
    z-index: -1;
    opacity: 0.8;
}

#home h1 {
    color: white;
    /* text-align: center; */
    padding: 120px 0px;
}